# data
data/
data/*.csv

# python
__pycache__/
*.pyc
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# env vars
.env

# jupyter checkpoints
notebooks/.ipynb_checkpoints/
notebooks/**/.ipynb_checkpoints/

# catboost training logs
notebooks/catboost_info/
notebooks/**/catboost_info/